<div class="wrapper">
  <div class="title">
    Driver's ID
  </div>

  <div class="title2">
    Driver photo recognition for business car fleet
  </div>

  <div *ngIf="authorized" style="background-color: green; width: 200px; height: 100px; font-size: 30px" >Authorized</div>
  <div *ngIf="!authorized" style="background-color: red; width: 200px; height: 100px; font-size: 30px" >Not Authorized</div>
  <div id="app">
    <div><video #video class="video" id="video" width="400" height="400" autoplay></video></div>
    <div>
      <div class="start-driving-title">Start your car</div>
      <img title="Click here to start your car" class="start-driving" src="/assets/keys.jpeg" id="snap" (click)="onStartCar()" />
    </div>
    <div>
        <div class="add-driver-title">Add a new authorized driver</div>
        <img title="Add a new driver" class="add-driver" src="/assets/cam.jpg" id="snap" (click)="onAddDriver()" />
    </div>
    <canvas #canvas id="canvas" width="640" height="480"></canvas>
  </div>

</div>

<router-outlet></router-outlet>