.wrapper  {
    position: absolute;
}

.title {
    font-size: 50px;
    top: 10px;
    left: 10px;
    color: white;
}

.title2 {
    top: 20px;
    font-size: 30px;
    color: white;
}

.start-driving-title {
    position: absolute;
    top: 180px;
    left: 900px;
    width: 100%;
    font-size: 25px;
    color: white;
}

.start-driving {
    position: absolute;
    opacity: 0.8;
    top: 210px;
    left: 900px;
    width: 300px;
    height: 300px;
}

.add-driver-title {
    position: absolute;
    top: 520px;
    left: 900px;
    width: 100%;
    font-size: 25px;
    color: white;
}
.add-driver {
    position: absolute;
    opacity: 0.8;
    top: 550px;
    left: 900px;
    width: 300px;
    height: 300px;
}

.video {
    position: absolute;
    top: 160px;
    left: 430px;
}